
.sidebar {
  background-color: #f4f4f4;
  padding: 15px;
  width: 250px;
  position: fixed;
  height: 100%;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}
